*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --primario:#2563EB;
    --oscuro:#1E293B;
    --fondo:#F8FAFC;
    --borde:#CBD5E1;
    --blanco:#FFFFFF;
}

img{
    max-width:100%;
    height:auto;
    display:block;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:var(--fondo);
    color:var(--oscuro);
    padding:16px;

    display:grid;
    gap:16px;

    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}


.cabecera{
    grid-area:header;

    background:var(--primario);
    color:white;

    padding:20px;
    border-radius:12px;

    display:flex;
    flex-direction:column;
    gap:16px;
}

.logo{
    color:white;
    text-decoration:none;
    font-size:1.7rem;
    font-weight:bold;
}

.buscador{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
}

.menu{
    list-style:none;

    display:flex;
    flex-direction:column;
    gap:10px;
}

.menu a{
    display:block;
    text-align:center;

    color:white;
    text-decoration:none;

    padding:10px;
    border-radius:8px;

    background:rgba(255,255,255,.15);
}

/* SIDEBAR */

.filtros{
    grid-area:aside;

    background:white;
    border:1px solid var(--borde);
    border-radius:12px;
    padding:20px;
}

.filtros fieldset{
    margin-top:16px;
    border:1px solid var(--borde);
    padding:10px;
}

.filtros label{
    display:block;
    margin-top:8px;
}



.resultados{
    grid-area:main;

    display:grid;
    grid-template-columns:1fr;
    gap:18px;
}

.tarjeta{
    background:white;
    border-radius:12px;
    border:1px solid var(--borde);

    padding:14px;

    display:flex;
    flex-direction:column;
    gap:10px;
}

.tarjeta img{
    aspect-ratio:3/2;
    object-fit:cover;
    border-radius:8px;
}

.precio{
    color:var(--primario);
    font-weight:bold;
    font-size:1.1rem;
}

.tarjeta button{
    margin-top:auto;

    border:none;
    border-radius:8px;

    background:var(--primario);
    color:white;

    padding:10px;
}


.pie{
    grid-area:footer;

    background:var(--oscuro);
    color:white;

    padding:20px;
    border-radius:12px;

    display:grid;
    grid-template-columns:1fr;
    gap:20px;
}

.pie a{
    display:block;
    color:white;
    text-decoration:none;
    margin-top:6px;
}


@media (min-width:768px){

    .menu{
        flex-direction:row;
        justify-content:center;
    }

    .resultados{
        grid-template-columns:repeat(2,1fr);
    }

    .pie{
        grid-template-columns:repeat(3,1fr);
    }

}

@media (min-width:1024px){

    body{

        grid-template-columns:250px 1fr;

        grid-template-areas:
        "header header"
        "aside main"
        "footer footer";

    }

    .cabecera{
        flex-direction:row;
        align-items:center;
    }

    .buscador{
        flex:1;
    }

    .resultados{
        grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    }

}